flask==3.0.2
python-dotenv==1.0.0
yt-dlp==2024.2.14
gunicorn==21.2.0
flask-caching==2.1.0
flask-limiter==3.5.0
redis==5.0.1
requests==2.31.0
browser-cookie3==0.19.1
D:\testing projects\youtube>venv\Scripts\activate
